<h1>The houses</h1>
<% @house.each do |house| %>
  <div class="house">
    <h3><%= house.name %></h3>
    <h2><a href="<% houses_path %>"</a></h2>
    <img src="<%= house.img_url %>">
  </div>
<% end %>
