<h1><%= @house.name %></h1>

  <div class="house">
    <img src="<%= @house.image_url %>"/>
    <h1><%= "Students" %></h1>

  <% @house.students.each do |student| %>
    <h2> <%= student.name %> </h2>
  <% end %>
</div>
