<h1><%= @house.name %></h1>
<% @house.students.each do |student| %>
  <div class="student">
    <h2><%= student.name %></h2>
    <%= link_to(image_tag("#{student.img_url}"), student_path(student)) %>
  
  </div>
<% end %>
