
<% @houses.each do |house| %>
  <h1 class = 'center'><%= house.name %></h1>
    <% house.students.each do |student| %>
      <div class="student center">
      <h2 class= 'center'><%= student.name %></h2>
      </div>
      <%= image_tag student.img_url %>
      <% end %>
<% end %>
