<h1><%= @house.name %></h1>
<div class="student">
  <img src="<%= @house.img_url %>"></img>
</div>
<h2>Enrolled Students: </h2>
<% @current_students.each do |student| %>
<h3><a href= "/students/<%= student.id %>"><%= student.name %></a></h3>

<% end %>
