<h1>Here are the students</h1>
<% @students.each do |student| %>
  <div class="student">
    <%= link_to image_tag(student.img_url), students_path(student) %>
    <p><%= student.name %>(<%= student.house.name %>)</p>
<% end %>
  </div>
