<h1>Here are the students</h1>
<% @students.each do |student| %>
  <div>
    <%=link_to student.name, student_path(student) %> - <%= student.house.name %>
    <%= link_to "Expel Student", student_path(student),
         method: :delete %>
<% end %>
</div>
