<h1>Here are the students</h1>
<% @students.each do |student| %>
 <div class = "student">
   <h2><%= link_to student.name, student %></h2>
   <img src="<%= student.img_url %>">
   <h2><%= student.house.name %></h2>
 </div>
<% end %>
