<h1>Here are the students</h1>

<% @student.each do |student| %>
  <div>
    <h2><%= link_to student.name, houses_student_path(@student) %> - <%= House.find(student.house_id).name %></h2>
<% end %>
  </div>
