<h1><%= @student.name %></h1>
<h2><%= @house%></h2>
<div class="student">
  <%= image_tag @student.img_url %>
</div>
 <br>
  <%= link_to "Delete Student", @student, method: :delete, class: "delete"%>
