<!DOCTYPE html>
<html>
  <head>
    <title>Hogwarts</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": 'reload' %>
    <%= javascript_include_tag "application", "data-turbolinks-track": 'reload' %>
  </head>
  <header>
    <nav>
      <h1>Welcome to Hogwarts!</h1>
      <h2><%= link_to "View Houses", houses_path %></h2>
    </nav>
  </header>
  <body>

    <% yield %>

  </body>
</html>
